@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --clr-main: #e3c0bade;
    --clr-main-dark: #7a5c57fa;
    --clr-main-light: #fad1caec;
    --clr-main-white: #ffffffec;
    --clr-second-brown: #916159;
    --clr-second-blue: #2E4166;
    --clr-second-light-blue:#C3CFE6;
    --clr-third-green: #54662E;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}
  
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* CSS para Index HTML */
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside{
    padding: 2rem;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;

}

.logo-image{
    width: 18rem;
  height: 18rem;
}

.texto-footer{
    color: var(--clr-second-blue);
    font-size: .85rem;
}

main{
    background-color: var(--clr-main-white);
    margin: 2rem;
    margin-left: 0rem;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    color: var(--clr-second-brown);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-second-blue);
    color: var(--clr-main-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display:flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: var(--clr-main-white);
    color: var(--clr-second-blue);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-main-white);
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-main-white);
}